<ion-content class="login-content">
  <div class="login-wrap">
    <div class="brand">
      <img src="logo.png" alt="A.S.D. Power Body Club" class="brand-logo" />
      <p class="brand-sub">Bodybuilding &amp; Fitness · Caccamo</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <ion-list lines="none" class="mb-2">
        <ion-item class="field">
          <ion-input
            label="Username"
            labelPlacement="floating"
            formControlName="username"
            autocomplete="username"
            autocapitalize="off"
            spellcheck="false"
            enterkeyhint="next"
          ></ion-input>
        </ion-item>

        <ion-item class="field">
          <ion-input
            label="Password"
            labelPlacement="floating"
            type="password"
            formControlName="password"
            autocomplete="current-password"
            enterkeyhint="go"
          ></ion-input>
        </ion-item>
      </ion-list>

      @if (errorMessage()) {
        <div class="alert alert-danger py-2 px-3 mb-3" role="alert">
          {{ errorMessage() }}
        </div>
      }

      <ion-button expand="block" type="submit" [disabled]="loading()" class="login-btn">
        @if (loading()) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          Accedi
        }
      </ion-button>
    </form>

    <p class="login-hint">
      Non hai le credenziali? Rivolgiti al tuo istruttore.
    </p>
  </div>
</ion-content>
